@model RetireHappy.Models.AvgExpenditure

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AvgExpenditure</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.eId)

        <div class="form-group">
            @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.category)
                @Html.ValidationMessageFor(model => model.category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.recordYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.recordYear)
                @Html.ValidationMessageFor(model => model.recordYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.avgAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.avgAmount)
                @Html.ValidationMessageFor(model => model.avgAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.count, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.count)
                @Html.ValidationMessageFor(model => model.count)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
