@model IEnumerable<RetireHappy.Models.AvgExpenditure>

@{
    ViewBag.Title = "My Expenditure List";
}

<h1 class="page-header">My Expenditure List</h1>

@if (ViewBag.EmptyList != "true")
{
    <table class="table">
    
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avgAmount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.avgAmount)
                </td>
            </tr>
        }

        <tr>
            <th>Total</th>
            <th></th>
            <th>@Html.ViewBag.total</th>
        </tr>
    </table>
}
else
{
    <div class="col-md-10">
        <span class="text-danger">Expenditure list is empty.</span>
    </div>
    <div class="col-md-10">
        <span class="text-danger">Select "Choose from national average list" option in Retirement Calculator to create an expenditure list.</span>
    </div>
        
}
