@model RetireHappy.Models.SavingsInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SavingsInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.calcRetSavings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calcRetSavings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.savePercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.savePercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.riskLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.riskLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diffPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diffPercent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
